* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h1 {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

div.container {
    text-align: center;
}

ul.list {
    display: inline-block;
    text-align: left;
}

a:hover {
    background-color: yellow;
}